body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e83e7, purple);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 20px 0;
}

form {
    background: linear-gradient(to right, dodgerblue, purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}
@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 10px;
    }

select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: linear-gradient(to right, #3498db, #5c4b51);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background: linear-gradient(to right, #1e83e7, #3e1a47);
}

#success-message {
    color: green;
    display: none;
    margin: 10px 0;
}}
