* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, midnightblue, #8a2be2);
}

header {
    text-align: center;
    background: linear-gradient(to right, #3498db, #5c4b51);
    color: #fff;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.user-profile {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    z-index: 2;
}

.nav-menu {
    display: none;
    background: rebeccapurple;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    z-index: 1;
}

.nav-menu.active {
    display: block;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #1e83e7;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

button {
    background: linear-gradient(to right, #3498db, greenyellow);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(to right, #1e83e7, purple);
}

a {
    text-decoration: none;
    color: #3498db;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

a:hover {
    border-color: #3498db;
}

form {
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.balance-amount {
    font-size: 24px;
    color: #3498db;
}

.journey-list {
    list-style: none;
}

.journey-list li {
    margin: 10px 0;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.journey-list li:hover {
    transform: translateY(-3px);
}

.lock-button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.lock-button:hover {
    background: #c0392b;
}

/* Style the select element */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

#member-count {
    width: 100%;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: blueviolet;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

button {
    background: linear-gradient(to right, #3498db, blueviolet);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 10px;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
        background: #3498db;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu a {
        display: block;
        color: #fff;
    }

    .nav-menu.active + .menu-icon {
        color: #3498db;
    }
}
